
.button{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.button::before{
    content:"";
    width: var(--before-width, 100%);
    opacity: var(--before-opacity, 0);
    height: 100%;
    background-color: #efe9e8;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: all ease-in .1s;
    z-index: -1;
}