
.button{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.button::before{
    content:"";
    width: var(--before-width, 0%);
    /* width: 0%; */
    /* opacity: var(--before-opacity, 0); */
    /* scale: var(--scale, 0); */
    height: 100%;
    background-color: #171717;
    position: absolute;
    left: 0%;
    top: 0;
    transition: all ease-in .2s;
    z-index: -1;
}