.main-slider{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-slider img{
    width: 90%;
    height: 100%;
    object-fit:fill;
    object-position:top;
    border-radius: 50px;
}