* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

html,
body {
  width: 100%;
}
body {
  background-color: #302f2f;
}
::selection {
  color: goldenrod;
}


@media (max-width: 500px) {
  #main {
    padding: 0px;
    width: 100%;
  }
}
