*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

html, body{
    width: 100%;
}
body{
    background-color: #302F2F;
    /* background-color: #fff; */
}
#main{
    width: 100%;
    padding: 0 30px;
}




@media (max-width: 500px) {
    #main{
        padding:10px;
        width: 100vw;
    }

}