.cast-crew{
    width: 100%;
    margin-bottom: 3vw;
}
.cast-crew h1{
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 1.5vw;
    width:fit-content ;
    position: relative;
}


::-webkit-scrollbar {
    height: 10px;
    width: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 50px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-button {
    display: none; 
  }



.castList{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 40px;
}
.castList .cast{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.castList .cast img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.castList .cast .castInfo h2{
    font-size: 1.3vw;
    font-weight: 500;
    color: rgb(225, 239, 251);
}
.castList .cast .castInfo h3{
    font-size: 1vw;
    font-weight: 300;
    color: rgba(225, 239, 251, 0.664);
}


@media (max-width:500px) {
    .cast-crew h1{
        font-size: 28px;
        margin-bottom: 3vw;
    }
    .castList{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: scroll;
        gap: 25px;
    }
    .castList .cast{
        flex-shrink: 0;
    }
    .castList .cast img{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .castList .cast .castInfo h2{
        font-size: 15px;
        font-weight: 500;
        color: rgb(225, 239, 251);
    }
    .castList .cast .castInfo h3{
        font-size:13px;
        font-weight: 300;
        color: rgba(225, 239, 251, 0.664);
    }
    
}